@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.input-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-form select,
input,
textarea {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  width: 100%;
  font-size: 1.4rem;
}

.input-form select,
input {
  text-align: center;
}

.time-form {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  color: black;
  background-color: #F7F056;
  border-radius: 10px;
  border: 1px double black;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

input[type="date"] {
  -webkit-appearance: none;
  /* Убираем стандартные стили Safari */
}

/* Кастомные стили для элемента <input type="date"> */
input[type="date"] {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Учитываем padding и border в ширине */
}

/* Дополнительные стили для выбора даты, чтобы выглядело единообразно во всех браузерах */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
  /* Убираем спиннер и кнопку "очистить" в Safari */
}